.all-posts {

	&__main-title-container {
		@include titleFont;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 32px;
	}

	&__view-all {
		height: 2rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 175%;
		color: $purple-color;
		padding: 0px;
		border: 0px;
		background: none;

		&:hover {
			color: $focus-color;
		}
	}

	&__list {
		@media screen and (max-width:$desktop-width){
			display:flex;
			flex-wrap: wrap;
			gap: 25px	;
			justify-content:center;
		}
	}

	&__item {
		padding-left: 32px;
		padding-top: 32px;
		padding-right: 115px;
		padding-bottom: 25px;
		&:hover {
			background-color: $secondary-focus-color;
		}

		@media screen and (max-width:$desktop-width){
			padding: 32px;
			width: 350px;
			
		}
	}

	&__title {
		font-family: "Sen";
		font-weight: 700;
		font-size: 2rem;
		line-height: 133%;
		color: $main-color;

		@media screen and (max-width:$desktop-width){
			font-size: 1.25rem;					
		}
	}
}
