.author-cards {
	display: flex;
	gap: 32px;
	justify-content: center;
	@media screen and (max-width: $desktop-width) {
		flex-wrap: wrap;
	}

	&__card {
		text-align: center;
		padding: 2.5rem 1.75rem;
		background-color: #f4f4f4;
		width: 18.5rem;
		&:hover {
			background-color: #fbf6ea;
		}
	}

	&__avatar {
		border-radius: 50%;
		margin-bottom: 20px;
	}

	&__title {
		@include secondaryTitleFont;
	}

	&__position {
		font-family: "Inter";
		font-size: 0.875rem;
		line-height: 142%;
		color: $main-text-color;

		padding: 0;
		margin-bottom: 20px;

		@media screen and (max-width: $desktop-width) {
			font-size: 0.7rem;
		}
	}
}
