.author-and-date {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;

	&__name--focus {
		color: $focus-color;
	}

	&__name--purple {
		color: $purple-color;
	}
}
