.button {

	font-family: "Sen";
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 133%;
	padding: 16px 48px;
	background-color: $focus-color;
	border: 0px;

	&--white {
		background-color: white;
	}
}
