.chose-a-catagory {

	&__container {
		margin-bottom: 128px;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: $desktop-width) {			
			margin-bottom: 64px;
		}
	}

	&__title {
		@include titleFont;
		margin-bottom: 48px;
	}
}
