.chose-a-catagory {
	// .chose-a-catagory__container
	margin-bottom: 128px;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .chose-a-catagory__title

	&__title {
		font-family: "Sen";

		font-size: 36px;
		line-height: 48px;
		color: $main-color;
		margin-bottom: 48px;
	}
}
