.feature {
	// .feature__container

	margin-bottom: 96px;

	&__container {
		display: flex;
		gap: 75px;
		align-items: center;
	}

	// .feature__sign

	&__text-content {
		margin-left: 14px;
	}

	&__sign {
		font-family: "Inter";
		font-size: 14px;
		line-height: 20px;
		color: #6d6e76;
		opacity: 0.6;
	}

	// .feature__title

	&__title {
		font-family: "Sen";
		font-size: 24px;
		line-height: 32px;

		color: #6d6e76;
	}

	// .feature__icon

	&__icon {
		opacity: 0.8;
		transition: 250ms;

		&:hover {
			opacity: 0.9;
			transform: scale(1.25);
			transition: 250ms;
		}
	}
}
