.feature {

	&__container {
		margin-bottom: 96px;

		display: flex;
		gap: 75px;
		align-items: center;
	}

	&__text-content {
		margin-left: 14px;
	}

	&__sign {
		font-family: "Inter";
		font-size: 0.875rem;
		line-height: 142%;
		color: $main-text-color;
		opacity: 0.6;
	}

	&__title {
		font-family: "Sen";
		font-size: 1.5rem;
		line-height: 133%;

		color: $main-text-color;
	}

	&__icon {
		opacity: 0.8;
		transition: 250ms;

		&:hover {
			opacity: 0.9;
			transform: scale(1.25);
			transition: 250ms;
		}
	}
}
