.feature {
	&__container {
		margin-bottom: 96px;

		display: flex;
		gap: 75px;
		align-items: center;
		@media screen and (max-width: $desktop-width) {
			flex-wrap: wrap;
			gap: 0;
			justify-content: space-between;
		}
	}

	&__text-content {
		margin-left: 14px;
		@media screen and (max-width: $desktop-width) {
			width: 100%;
			text-align: center;
			flex-shrink: 0;
		}
	}

	&__sign {
		font-family: "Inter";
		font-size: 0.875rem;
		line-height: 142%;
		color: $main-text-color;
		opacity: 0.6;
	}

	&__title {
		font-family: "Sen";
		font-size: 1.5rem;
		line-height: 133%;

		color: $main-text-color;

		@media screen and (max-width: $desktop-width) {
			// flex-wrap: wrap;
			font-size: 2rem;
		}
	}

	&__icon {
		opacity: 0.8;
		transition: 250ms;

		&:hover {
			opacity: 0.9;
			transform: scale(1.25);
			transition: 250ms;
		}

		@media screen and (max-width: $desktop-width) {
			width: 130px;
			margin-top: 32px;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
