.form {

	padding: 80px 64px;
	display: flex;
	background: rgba($color: white, $alpha: 0.05);

	&__title {
		@include titleFont;
		color: white;
		margin-right: 64px;
	
		width: 562px;
	}

	&__input-email {
		width: 323px;
		height: 56px;
		background-color: transparent;
		border: 1px solid #4c4c4c;

		padding: 14px 25px;
		margin-right: 24px;

		font-family: "Inter";
		font-weight: 400;
		font-size: 1rem;
		line-height: 175%;
	}

	&__button {
		height: 56px;
	}
}
