.join {
	&__container {
		text-align: center;
		margin-bottom: 128px;
		width: 444px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: $desktop-width) {
			margin-bottom: 64px;
		}
	}

	&__title {
		@include titleFont;
		width: 100%;

		margin-bottom: 16px;
	}

	&__description {
		margin-bottom: 32px;
	}
}
