.list-of-authors {
	&__container {
		margin-bottom: 96px;
		@media screen and (max-width: $desktop-width) {
			margin-bottom: 64px;
		}
	}

	&__title {
		@include titleFont;

		margin-bottom: 48px;
		text-align: center;
	}
}
