.posts {
	margin-bottom: 128px;

	&__container {
		display: flex;
	}

	&__title {
		font-family: "Sen";
		font-weight: 700;
		font-size: 36px;
		line-height: 48px;
		color: $main-color;

		margin-bottom: 32px;
	}

	&__card {
		margin-right: 32px;
	}
}
