.posts {
	&__container {
		margin-bottom: 128px;
		display: flex;
		@media screen and (max-width:$desktop-width){
			display:block;
		}
	}

	&__title {
		@include titleFont;
		margin-bottom: 32px;	
	}

	&__card {
		margin-right: 32px;
		@media screen and (max-width:$desktop-width){
			margin-right: auto;
			margin-left: auto;
	}
}
}
