.reviews {
	&__container {
		background-color: $secondary-focus-color;
		display: flex;

		margin-bottom: 128px;
		padding-top: 80px;
		padding-left: 112px;
		padding-bottom: 75px;
		padding-right: 108p;
	}

	&__main-content {
		padding-right: 84px;
		width: 434px;
		border-right: 1px solid rgba($color: #6d6e76, $alpha: 0.4);

	}

	&__section-sign {
		margin-bottom: 12px;
	}

	&__title {
		@include titleFont;
		margin-bottom: 16px;
	}


	&__secondary-content {
		padding-left: 96px;
		display: flex;
		flex-direction: column;
	}


	&__review {
		font-family: "Sen";
		font-size: 1.5rem;
		line-height: 133%;
		color: $main-color;
		margin-bottom: 121px;
		width: 465px;
	}


	&__reviewer {
		display: flex;
	}

	&__arrow-container {
		width: 48px;
		height: 48px;
		background-color: #fff;
		border-radius: 50%;
		transition: 250ms;

		&:hover {
			transform: scale(1.5);
			transition: 250ms;
			background-color: $main-color;
		}

		&:nth-child(2n) {
			margin-left: 32px;
		}
	}

	&__arrow {
		fill: #232536;
		transition: 250ms;
		&--right {
			transform: rotate(180deg);
		}

		&-container:hover .reviews__arrow {
			transition: 250ms;
			fill: #fff;
		}
	}
}
