.reviews {
	&__container {
		background-color: $secondary-focus-color;
		display: flex;

		margin-bottom: 128px;
		padding-top: 80px;
		padding-left: 112px;
		padding-bottom: 75px;
		padding-right: 108px;
		@media screen and (max-width: $desktop-width) {
			padding: 64px;
			flex-direction: column;
			margin-bottom: 64px;
		}
		@media screen and (max-width: $tablet-width) {
			padding: 32px;
		}
	}

	&__main-content {
		padding-right: 84px;
		width: 434px;
		border-right: 1px solid rgba($color: #6d6e76, $alpha: 0.4);
		@media screen and (max-width: $desktop-width) {
			padding-right: 0px;
			width: 100%;
			text-align: center;
			border-right: 0px;
			border-bottom: 1px solid rgba($color: #6d6e76, $alpha: 0.4);
			padding-bottom: 32px;
			margin-bottom: 32px;
		}
	}

	&__section-sign {
		margin-bottom: 12px;
	}

	&__title {
		@include titleFont;
		margin-bottom: 16px;
	}

	&__secondary-content {
		padding-left: 96px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $desktop-width) {
			padding-left: 0px;
			text-align: center;
		}
	}

	&__review {
		font-family: "Sen";
		font-size: 1.5rem;
		line-height: 133%;
		color: $main-color;
		margin-bottom: 121px;

		width: 465px;
		@media screen and (max-width: $desktop-width) {
			width: 100%;
			margin-bottom: 32px;
		}
	}

	&__reviewer {
		display: flex;
	}

	&__arrow-container {
		width: 48px;
		height: 48px;
		background-color: #fff;
		border-radius: 50%;
		transition: 250ms;

		&:hover {
			transform: scale(1.5);
			transition: 250ms;
			background-color: $main-color;
		}

		&:nth-child(2n) {
			margin-left: 32px;
			@media screen and (max-width: $tablet-width) {
				margin-left: 16px;
			}
		}
	}

	&__arrow {
		fill: #232536;
		transition: 250ms;
		&--right {
			transform: rotate(180deg);
		}

		&-container:hover .reviews__arrow {
			transition: 250ms;
			fill: #fff;
		}
	}
}
