.special-post {

	&__container {
		margin-bottom: 128px;

		position: relative;
		display: flex;
		justify-content: end;
		height: 705px;

		@media screen and (max-width: $desktop-width) {			
			margin-bottom: 64px;
			height: 550px;
		}
	}


	&__image {
		position: absolute;
		right: 331px;
		@media screen and (max-width: $desktop-width) {			
			right: 150px;
			height: 550px;
		}
	}

	&__text-container {
		position: absolute;
		top: 121px;

		padding: 80px;
		width: 706px;
		background-color: white;
		
		@media screen and (max-width: $desktop-width) {			
			padding: 32px;
			width: 550px;
			// top:
		}
	}

	&__section-sign {
		margin-bottom: 24px;
	}

	&__title {
		font-family: "Sen";
		font-size: 3rem;
		line-height: 133%;
		letter-spacing: -2px;
		color: $main-color;

		margin-bottom: 16px;
	}

	&__description {
		margin-bottom: 32px;
	}
}
